body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0e1116;
  color: white;
}

a{
    text-decoration: none;
    color: white;
}

#featured-section {
  width: 90%;
  margin: 40px auto;
}

#header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view {
  color: #4dacff;
  text-decoration: none;
}

.cards-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.car-card {
  background: #1a1f25;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.car-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.car-card:hover {
  transform: translateY(-5px);
  background: #222831;
}

#trusted-section {
  text-align: center;
  padding: 40px 20px 60px;
}

@media (max-width: 500px) {
  .header-row {
    flex-direction: column;
    gap: 10px;
  }
}