.cars-container{
    padding: 4rem 0;
    background-color: #0f1724;
}

.heading-txt{
    display: flex;
    justify-content: space-between;
    color: rgba(230, 238, 248, 0.85);
}

.btn{
    background-color: rgba(0,0,0,0.144) !important;
    color: rgba(230, 238, 238, 0.85) !important;
    cursor: pointer;
}

.featured-cars{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.cars-card{
    width: 250px;
    background: linear-gradient(180deg,rgba(255,255,255,0.04),rgba(255,255,255,0.02));
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.02);
    backdrop-filter: blur(2px);
    transition: 0.4 ease;
}

.cars-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 40px rgba(2,6,23,0.45);
}

.cars-card img{
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}

.cars-dtl{
    padding: 10px;
    font-size: 12px;
    color:rgba(230, 238, 248, 0.85);
}

.cars-dtl h4{
    font-size: 18px;
}

#trusted{
    padding: 40px 20px 60px;
    color: rgba(230, 238, 248, 0.85);
    background-color: #0f1724;
    text-align: center;
}

@media (max-width:767px){
    .featured-cars{
        justify-content: center;
    }
}