#yh{
  color: yellow;
}

#gsb{
  background-color: yellow;
  color: black;
  border-radius: 10%; 
}

#lmb{
  background-color: black;
  color: white;
  border-radius: 10%;
}

.yellow{
  color: yellow;
}

span{
  color: yellow;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#fleft{
  display: flex;
  flex-direction: column;
}